* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #018587;
  position: sticky;
}
.nav-bar ul {
  display: flex;
  list-style: none;
  margin: 20px 0px;
}
.nav-bar ul li {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
}
.nav-bar ul li a {
  text-decoration: none;
  color: black;
  padding: 8px 25px;
  transform: all 0.5s ease;
}
.nav-bar ul li a:hover {
  background-color: beige;
}
.home {
  display: flex;
  flex-direction: column;
}
.home:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 900px;
  width: 100%;
  z-index: -1;
  opacity: 0.8;
}
.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 30%;
  right: 50%;
}
.name {
  font-family: "Nunito Sans", sans-serif;
  font-size: 2rem;
  text-align: center;
  margin: 40px 0px;
}
.title {
  font-family: "Nunito Sans", sans-serif;
  font-size: 2rem;
  text-align: center;
  color: #018587;
}
.btn-hire {
  padding: 10px 35px;
  background-color: beige;
  outline: none;
  transition: 0.6s ease;
}
.btn-hire:hover {
  cursor: pointer;
  background-color: #018587;
  font-weight: bold;
}
body {
  background-color: whitesmoke;
}
.main-content {
  min-height: 100vh;
  margin: 1rem auto;
  width: 80%;
  background-color: black;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.left-section {
  grid-column: span 2;
  height: 80%;
  background-color: beige;
}
.left-content {
  padding: 1rem 3rem;
}
.main-heading {
  width: 100%;
  border-bottom: solid #00191a;
}
.main-heading img {
  width: 100%;
}
.names {
  text-align: center;
  color: #00191a;
  font-size: 1, 5rem;
}
.job-title {
  text-align: center;
  color: #018587;
  font-size: 1rem;
}
.contacts {
  text-align: center;
  font-size: 1rem;
  color: #00191a;
}
.contact-list {
  font-size: 0.9rem;
  text-align: center;
  letter-spacing: 0px;
}
.contact-list li {
  display: flex;
}
.skill-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.skills h3 {
  text-align: center;
  font-size: 1rem;
  color: #00191a;
}
.skills h5 {
  color: white;
  border: solid black;
  border-radius: 7%;
  background-color: #899797;
  text-align: center;
}
.skills-1 {
  letter-spacing: 1px;
  font-size: 1rem;
}
.skills-2 {
  letter-spacing: 1px;
  font-size: 1rem;
  padding-left: 2rem;
}
.Interests-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.Interests h3 {
  text-align: center;
  font-size: 1rem;
  color: #00191a;
}
.Interests h5 {
  color: white;
  border: solid black;
  border-radius: 7%;
  background-color: #899797;
  text-align: center;
}
.Interests-1 {
  letter-spacing: 1px;
  font-size: 1rem;
}
.Interests-2 {
  letter-spacing: 1px;
  font-size: 1rem;
  padding-left: 2rem;
}
.Projects h3 {
  text-align: center;
  font-size: 1rem;
  color: #00191a;
}
.References h3 {
  text-align: center;
  font-size: 1rem;
  color: #00191a;
}
.References p {
  font-size: 0.9rem;
  text-align: center;
  letter-spacing: 0px;
}
.right-section {
  grid-column: span 5;
  height: 100%;
  background-color: white;
}
.right-content {
  padding: 1rem 3rem;
}

.right-content p {
  font-size: 0.9rem;
  letter-spacing: 0px;
}
.bio {
  padding-bottom: 0.1rem;
}
.experience p {
  font-size: 0.9rem;
  letter-spacing: 0px;
}
.timeline {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.work-info {
  letter-spacing: 1px;
  font-size: 1rem;
}
.work-info h4 {
  letter-spacing: 1px;
  font-size: 1rem;
  color: #018587;
}
.work-info-2 {
  letter-spacing: 1px;
  font-size: 1rem;
}
.work-info-2 ul {
  list-style-type: none;
  padding-left: 1rem;
  font-size: 0.9rem;
  letter-spacing: 0px;
}
.work-info-2 ul li:before {
  content: "–";
  position: absolute;
  margin-left: -1rem;
}
.Institution h4 {
  letter-spacing: 1px;
  font-size: 1rem;
  color: #018587;
}
.varsity {
  letter-spacing: 1px;
  font-size: 1rem;
}
.varsity ul {
  list-style-type: none;
  padding-left: 1rem;
  font-size: 0.9rem;
  letter-spacing: 0px;
}
.varsity ul li:before {
  content: "–";
  position: absolute;
  margin-left: -1rem;
}
.header {
  position: absolute;
  background-color: black;
}
