* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}
body {
  background-color: beige;
}
nav {
  height: 80px;
  width: 100%;
  background-color: #018587;
}
label.logo {
  font-size: 20px;
  font-weight: bold;
  padding: 0 100px;
  line-height: 80px;
}
nav ul {
  float: right;
  margin-right: 40px;
}
nav ul li {
  display: inline-block;
  margin: 0 8px;
  line-height: 80px;
  color: black;
}
nav ul li a {
  font-size: 18px;
  color: black;
  padding: 7px 10px;
  font-weight: bold;
}
nav ul li a:hover {
  background-color: beige;
}
nav #icon {
  font-size: 30px;
  line-height: 80px;
  float: right;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

@media (max-width: 1048px) {
  label.logo {
    font-size: 32px;
    padding-left: 60px;
  }
  nav ul {
    margin-right: 20px;
  }
  nav ul li a {
    font-size: 17px;
  }
  nav ul li a:hover {
    background-color: #018587;
  }
}
@media (max-width: 909px) {
  nav #icon {
    display: block;
    margin-right: 60px;
  }
  label.logo {
    font-size: 20px;
  }
  nav ul {
    position: fixed;
    width: 100%;
    height: 45vh;
    background-color: beige;
    top: 70px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  .name {
    font-size: 1.2rem;
    margin-left: 0px;
  }
  .title {
    font-size: 1.2rem;
    margin-left: 0px;
  }
  nav ul li {
    display: block;
    margin: 20px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
    font-weight: bold;
  }

  nav ul li a:hover {
    background-color: #018587;
  }
  nav ul.show {
    left: 0;
  }
  .name {
    font-size: 1.1rem;
  }
  .title {
    font-size: 1.1rem;
  }
  .greeting {
    font-size: 1.1rem;
  }
  #btn-download {
    font-size: 0.6rem;
    padding: 3px 5px;
  }
  .box {
    width: 40px;
    height: 20px;
    margin: 0;
    padding: 0;
  }
  .box img {
    width: 5px;
    height: 5px;
    margin: 0;
    padding: 0;
  }
  .intro {
    width: 96%;
  }
  .intro h4 {
    text-align: start;
  }
  #skills {
    margin-top: 80px;
    height: 600px;
    margin-bottom: 500px;
  }
  .contact-details ul li {
    font-size: 0.9rem;
  }
  .input {
    width: 40%;
  }
  .footer ul li {
    font-size: 0.5rem;
  }
}
@media (width: 768px) {
  #about {
    height: 200px;
  }
  #skills {
    margin-top: 10px;
    margin-bottom: 200px;
  }
}
@media (width: 540px) {
  #about {
    height: 200px;
  }
  #skills {
    margin-top: 10px;
    margin-bottom: 200px;
  }
}
@media (width: 280px) {
  #skills {
    margin-top: 150px;
  }
  #main {
    height: 350px;
  }
}
.container {
  display: grid;
  height: 100vh;
  width: 100%;
  grid-gap: 0.2rem;
  grid-template-columns: 1fr;
  grid-template-rows: 1.5fr 1fr 1.5fr 1.5fr 1.5fr 0.8fr;
  grid-template-areas:
    "main"
    "about"
    "skills"
    "portfolio"
    "contact"
    "footer";
}
#main {
  grid-area: main;
  height: 600px;
  justify-content: center;
  align-items: center;
}

#main::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0;
  background: url("images/christopher.jpg") no-repeat center center/cover;
  height: 700px;
  width: 100%;
  z-index: -1;
  opacity: 0.8;
}
.name {
  text-align: left;
  margin-left: 60px;
  margin-top: 0px;
}
.title {
  text-align: left;
  margin-left: 100px;
  margin-top: 0px;
  color: #018587;
  padding-bottom: 10px;
}
.greeting {
  text-align: left;
  margin-left: 100px;
  margin-top: 20px;
}
#btn-download {
  padding: 5px 10px;
  background-color: beige;
  outline: none;
  transition: 0.6s ease;
  text-decoration: none;
  color: #018587;
  font-weight: bold;
  margin-left: 120px;
}
#btn-download:hover {
  cursor: pointer;
  background-color: #018587;
  font-weight: bold;
  color: black;
}
#about {
  box-sizing: border-box;
  padding: 20px;
  margin-bottom: 60px;
  margin-top: 20px;
  background-color: beige;
  height: 300px;
  grid-area: about;
  letter-spacing: normal;
  text-align: center;
  word-spacing: normal;
}
.heading {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 20px;
}
.intro {
  text-align: justify;
}
.intro h4 {
  margin-top: 50px;
  font-family: sans-serif;
  color: rgb(107, 107, 107);
  margin-top: 40px;
  letter-spacing: normal;
  text-align: left;
  word-spacing: normal;
}
#skills {
  grid-area: skills;
  align-items: center;
  background-color: beige;
  height: 450px;
}
.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  box-sizing: border-box;
}
.skills-list img {
  width: 250px;
  height: 160px;
  margin: 10px;
}
#portfolio {
  grid-area: portfolio;
  padding: 20px;
  background-color: beige;
  margin-top: 20px;
  margin-bottom: 20px;
}
.row {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.box {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 350px;
  border: 1px solid black;
  margin: 10px;
  align-items: center;
  text-align: justify;
  padding: 10px;
  border-radius: 15px;
  background: white;
}
.box img {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}
.box a {
  text-decoration: none;
  color: black;
}
#portfolio p {
  letter-spacing: normal;
  text-align: left;
  word-spacing: normal;
}
#contact {
  grid-area: contact;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: beige;
  color: black;
  padding: 20px;
  align-items: center;
  font-family: "Nunito Sans", sans-serif;
}
.contact-details ul li {
  margin-bottom: 10px;
  font-family: sans-serif;
}
.form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
}
.input {
  padding: 12px;
  margin: 15px;
  width: 90%;
  border: none;
  outline: none;
}
.message {
  width: 70%;
  padding: 10px;
  margin: 15px;
  border: none;
  outline: none;
}
.send {
  width: 30%;
  padding: 10px;
  margin: 40px;
  border: none;
  outline: none;
  background-color: black;
  color: white;
}
.send:hover {
  cursor: pointer;
  background-color: #018587;
  color: black;
}
.footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  background-color: #018587;
  position: sticky;
  padding-top: 2%;
  align-items: center;
}
.footer ul {
  display: flex;
  list-style: none;
  margin: 20px 0px;
}
.footer ul li {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
}
.footer ul li a {
  text-decoration: none;
  color: black;
  padding: 4px 10px;
  transform: all 0.7s ease;
}
.footer ul li a:hover {
  color: white;
}
