.nav-bar ul {
  flex-wrap: wrap;
  justify-content: center;
}
.home-page {
  top: 30%;
}
.name {
  font-size: 2rem;
}
.title {
  font-size: 1.5rem;
}
.btn-download {
  padding: 5px 5px;
}
.pic {
  flex-direction: column;
  align-items: center;
}
.pic img {
  width: 420px;
  height: 300px;
  margin-bottom: 10px;
}
.intro h4 {
  margin-top: 10px;
  font-family: sans-serif;
  color: rgb(107, 107, 107);
  margin-top: 40px;
}
.input {
  width: 70%;
}
.message {
  width: 50%;
}
.send {
  width: 20%;
}
.creator {
  align-items: flex-start;
}
.social {
  align-items: flex-end;
}
